{% extends "FOSUserBundle::layout.html.twig" %}

{% set path_user_img =  asset("bundles/vsvitrine/images/users/") %}

{% block fos_user_content %}
<div class="fos_user_user_show"

<form action="{{ path('vs_user_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
  
		<h2>MODIFICATION DE MON PROFIL</h2>
		
		<!-- ========== Erreurs Generales-->	
		<div class="error">
			{{ form_errors(form) }}
		</div>
		
		<!-- Champs modifiables -->	
		<div><span class="title-small-static">Mes infos personnelles:</span></div>
		
		{{form_row(form.avatar_file)}}
			
		{{form_row(form.email)}}
		
		{{form_row(form.signature)}}
		
		<!-- Verification de l'utilisateur -->			
		<div><span class="title-small-static">Verification de l'utilisateur</span></div>
		
		{{form_row(form.current_password)}}
		<!-- ========== Bouton Validation -->	
		{{ form_rest(form) }}
		<div class="bt-container-validation">
			<input type="submit" class="bt-gold" value="Valider" />
		</div>
		
</form>
{% endblock %}
