<div>

	<div class="content">
		<h3>PROJETS PROFESSIONNELS</h3>
	</div>

	<div class="slider projet-slider">
		<!-- *************** ------------------- GALLERIE D'IMAGES -->
		<div class="mask mask-gallery">
			<!-- *************** Gallerie 1 -->
			<ul class="gallery">
				<li><img src="{{path_public}}images/galleryp_1_1.jpg" alt=""/></li>
				<li><img src="{{path_public}}images/galleryp_1_2.jpg" alt=""/></li>
			</ul>
			<!-- *************** Gallerie 2 -->
			<ul class="gallery">
				<li><img src="{{path_public}}images/galleryp_2_1.jpg" alt=""/></li>
				<li><img src="{{path_public}}images/galleryp_2_2.jpg" alt=""/></li>
			</ul>
		</div>

		<!-- *************** ------------------- DESCRIPTIONS DES GALLERIES  -->
		<div class="mask mask-excerpt">

			<ul class="excerpt">
				<li>
					<div class="excerpt_content">
						<p class="excerpt_title">Immo Express:</p>
						<p><u>Objectifs de l'application:</u><br>
							<span class="excerpt_description">Refonte d'un site d'annonces immobilières</span> <br>
						</p>
						<p><u>Points technniques:</u><br>
							<span class="excerpt_description">
								Les annonces sont créées via Gercop, un logiciel de transaction immobilière on-line déja existant, puis sont récupérées sur le site via XML. 
								Le site dispose d'un système de recherche qui communique avec Gercop. <br/>
							</span>
						</p>
					</div>
					<div class="excerpt_foot">		
						<u>Missions:</u> <br>
						<span class="excerpt_description">Conception, développement (Symfony 2.1) et intégration.</span>
					</div>
					<div class="excerpt_footer">
						<span>Projet 1/2</span>
					</div>
				</li>
	
				<li>
					<div class="excerpt_content">
						<p class="excerpt_title">Natekko:</p>
						<p><u>Objectifs de l'application:</u><br>
							<span class="excerpt_description">
								Site vitrine d'un promoteur constructeur immobilier français.
							</span> <br>
						</p>
						<p><u>Points technniques:</u><br>
							<span class="excerpt_description">
								Interface extensible 1000px à 1600px compatible IE8+. Interface fixe compatible IE7.
							</span>
						</p>
						<p><u>Missions:</u> <br>
						<span class="excerpt_description">Conception, développement (Symfony 2.2) et intégration.</span>
						</p>	
					</div>
					<div class="excerpt_foot">
						<!-- <u>Lien vers le projet:</u> <br>
						<a href="" target="_blank" > -->
					</div>
					<div class="excerpt_footer">
						<span>Projet 1/2</span>
					</div>
				</li>
			</ul>
			
			<ul class="excerpt">
				<li>
					<div class="excerpt_content">
						<p class="excerpt_title">Karl Marc John:</p>
						<p><u>Site E-Commerce:</u><br>
							<span class="excerpt_description">
								Site e-commerce de prêt à porter.
							</span> <br>
						</p>
						<p><u>Points technniques:</u><br>
							<span class="excerpt_description">
								- Développement sous Magento <br/>
								- La marque possède 2 vues magasins dont l'un est périodiquement désactivé
							</span>
						</p>
						<p><u>Missions:</u> <br>
						<span class="excerpt_description">
							- Intégration du thème <br/>
							- Développement de modules pour le front
						</span>
						</p>		
					</div>
					<div class="excerpt_footer">
						<span>Projet 2/2</span>
					</div>
				</li>

				<li>
					<div class="excerpt_content">				
						<p class="excerpt_title">Extranet Immobilier:</p>
						<p><u>Objectifs de l'application:</u><br>
							<span class="excerpt_description">
								Application de gestion de programmes immobiliers. Des commerciaux et partenaires se connectent pour récupérer des lots immobiliers afin de commercialiser.
							</span>
						</p>
						<p><u>Points techniques:</u><br>
							<span class="excerpt_description">
								Application en symfony 1.4
							</span>
						</p>	
					</div>
					<div class="excerpt_foot">		
						<p><u>Missions:</u> <br>
						<span class="excerpt_description">
							- Exportations de données en XML <br/>
							- Créations de documents pré-remplis <br/>
							- Création d'une règle de fiscalité
						</span>
						</p>
					</div>
					<div class="excerpt_footer">
						<span>Projet 2/2</span>
					</div>
				</li>
			</ul>

		</div>
		<div id="buttons">
			<a id="btn-prev" class="prev"><</a> 
			<a id="btn-next" class="next">></a>
		</div>
	</div> <!-- ===== Fin de .slider ====== -->


	<div class="content_unique projets_2">
		<h3>PROJETS PERSONNELS</h3>
		<p>
			Les projets ont été réalisés dans un but personnel. Ils m'ont permis de m'exercer a la programmation,
			de travailler sur des langages et des applications auxquelles je n'ai pas été confronté dans mon milieu professionnel.
			Les fichiers codés sont open source et mis en ligne (liens dans le slider).
		</p>
	</div>

	<div class="slider projet-slider">
		<!-- *************** ------------------- GALLERIE D'IMAGES -->
		<div class="mask mask-gallery">
			<!-- *************** Gallerie 1 -->
			<ul class="gallery">
				<li><img src="{{path_public}}images/gallery_1_1.jpg" alt=""/></li>
				<li><img src="{{path_public}}images/gallery_1_2.png" alt=""/></li>
			</ul>
			<!-- *************** Gallerie 2 -->
			<ul class="gallery">
				<li><img src="{{path_public}}images/gallery_2_1.png" alt=""/></li>
				<li><img src="{{path_public}}images/gallery_2_2.png" alt=""/></li>
			</ul>
		</div>

		<!-- *************** ------------------- DESCRIPTIONS DES GALLERIES  -->
		<div class="mask mask-excerpt">
			<!-- *************** Description de la gallerie 1 -->
			<ul class="excerpt">
				<li>
					<div class="excerpt_content">
						<p class="excerpt_title">Démo de site d'un jeu video:</p>
						<p><u>Objectifs de l'application:</u><br>
							<span class="excerpt_description">
								Site d'une guilde d'un jeu vidéo du type MMO. 
								Les membres pourraient consulter des news, participer à des évènements, discuter entre eux.
							</span>
						</p>
						<p><u>Technologies utilisés:</u><br>
							-Design: <span class="excerpt_description">Adobe illustrator CS5</span><br>
							-Programmation: 
							<span class="excerpt_description">Symfony2 (Twig, Doctrine2), jQuery, LessPHP, html</span>
						</p>
					</div>
					<div class="excerpt_foot">
						<u>Lien vers le projet:</u> <br>
						<a href="http://webmixingshapes.net/vs/" target="_blank" >http://webmixingshapes.net/ldc/</a>
					</div>
					<div class="excerpt_footer">
						<span>Projet 1/2</span>
					</div>
				</li>

				<li>
					<div class="excerpt_content">
						<p class="excerpt_title">Démo de site d'un jeu video:</p>
						<p><u>Infos complementaires:</u> <br>
							<span class="excerpt_description">- Forum non implémenté</span> <br>
							<span class="excerpt_description">- Images utilisées libres de droits pour un usage non commercial</span> <br>
							<span class="excerpt_description">- Back office non accessible aux utilisateurs anonymes</span> <br>
							<span class="excerpt_description">- Améliorations a venir!</span
							</p>
						</div>
						<div class="excerpt_foot">					
							<u>Code source:</u> <br>
							<a href="https://github.com/Night75/MMORPG-demo-website" target="_blank">https://github.com/Night75/<br>MMORPG-demo-website</a>
						</div>
						<div class="excerpt_footer">
							<span>Projet 1/2</span>
						</div>
					</li>
				</ul>
				<!-- *************** Description de la gallerie 2 -->
				<ul class="excerpt">
					<li>
						<div class="excerpt_content">				
							<p class="excerpt_title">Webmail:</p>
							<p><u>Objectifs de l'application:</u><br>
								<span class="excerpt_description">
									Webmail qui serait implémenté dans un intranet d'une société de type PME. 
									Le webmail assure les fonctionnalités de base telles que la consultation et l'envoi de messages Html.
								</span>
							</p>
							<p><u>Technologies utilisés:</u><br>
								-Programmation: 
								<span class="excerpt_description">PHP, Javascript, jQuery, HTML, CSS</span>
							</p>	
						</div>
						<div class="excerpt_foot">		
							<u>Lien vers le projet:</u> <br>
							<a class="offline">Non mis en ligne</a>
						</div>
						<div class="excerpt_footer">
							<span>Projet 2/2</span>
						</div>
					</li>

					<li>
						<div class="excerpt_content">
							<p class="excerpt_title">Webmail:</p>
							<p><u>Infos complementaires:</u> <br>
								<span class="excerpt_description">- Ma première application PHP! (Plusieurs reworks integraux effectués)</span> <br>
								<span class="excerpt_description"></span> <br>
							</p>
						</div>
						<div class="excerpt_foot">		
							<u>Code source:</u> <br>
							<a href="https://github.com/Night75/Intranet---Webmail" target="_blank">https://github.com/Night75/<br>Intranet---Webmail</a>
						</div>
						<div class="excerpt_footer">
							<span>Projet 2/2</span>
						</div>
					</li>
				</ul>
			</div>
			<div id="buttons">
				<a id="btn-prev" class="prev"><</a> 
				<a id="btn-next" class="next">></a>
			</div>
		</div> <!-- ===== Fin de .slider ====== -->



	</div>